.is-hidden {
  display: none !important;
}

.u-link {
  color:       #1a6690;
  cursor:      pointer;
  white-space: nowrap;

  &:hover {
    color:           #005580;
    text-decoration: underline;
  }

  &--negative,
  &--negative:hover {
    color: red;
  }
}

/*
  Override Zendesk styles

  Note: There are additional styles that override
  Zendesk styles in layout.hdbs

  ==================================================
*/

header {
  background-color: transparent !important;
}

/*
  Widget
  ================================================== */

.Widget-action {
  float:       right;
  line-height: 30px;
  font-weight: bold;

  // Make it look like a link
  color:       #1a6690;
  cursor:      pointer;

  &:hover {
    color:           #005580;
    text-decoration: underline;
  }
}

/*
  Requirement
  ================================================== */

.Requirement-list {
  width: 100%;

  td {
    padding:        5px 3px;
    vertical-align: middle;
  }

  .Requirement-heading:hover td {
    background-color: #ececec;
    transition:       .1s background-color ease-in-out;
  }

  .Requirement-trash {
    width:          18px;
    padding-left:   10px;
    vertical-align: top;
  }
}

.Requirement {
  padding: 10px 0;
}

.Requirement-title {
  display:      inline-block;
  margin-right: 4px;
  line-height:  inherit;
  font-size:    inherit;
  font-weight:  bold;
  cursor:       pointer;

  &:hover {
    text-decoration: underline;
  }
}

.Requirement-description {
  cursor: pointer;
}

.Requirement-textarea {
  box-sizing:  border-box;
  width:       100%;
  margin:      2px 0 8px;
  line-height: 18px;
}

.Requirement-trash-icon {
  cursor: pointer;
}

/*
  Form
  ================================================== */

.Form-field {
  margin-bottom: 8px;
}

.Form-label {
  margin:    4px 0 6px 0;
  font-size: 11px;
  color:     #999;
}

.Form-field {
  width: calc(100% - 10px);
}

.Form-actions {
  margin-top: 20px;
}
