.is-hidden {
  display: none !important;
}

/*
  Override Zendesk styles

  Note: There are additional styles that override
  Zendesk styles in layout.hdbs

  ==================================================
*/

header {
  background-color: transparent !important;
}

/*
  Widget
  ================================================== */

.Widget-action {
  float:       right;
  line-height: 30px;
  font-weight: bold;

  // Make it look like a link
  color:       #1a6690;
  cursor:      pointer;

  &:hover {
    color:           #005580;
    text-decoration: underline;
  }
}

/*
  Requirement
  ================================================== */

.Requirement-list {
  margin-left: 0;
  list-style:  none;
}

.Requirement {
  margin-bottom: 20px;
}

.Requirement-title {
  display:      inline-block;
  margin-right: 4px;
  line-height:  inherit;
  font-size:    inherit;
  font-weight:  bold;
}

.Requirement-description {
  display:     inline;
  white-space: pre-line;
  cursor:      pointer;
}

.Requirement-textarea {
  box-sizing:  border-box;
  width:       100%;
  margin:      2px 0 8px;
  line-height: 18px;
}